canonical: https://www.ehealth.fgov.be/standards/fhir/mycarenet
fhirVersion: 4.0.1
FSHOnly: false
applyExtensionMetadataToRoot: false
id: hl7.fhir.be.mycarenet
name: Belgian MyCareNet Profiles
title: Belgian MyCareNet Profiles
status: active
version: 2.1.2
copyrightYear: 2022+
releaseLabel: STU
jurisdiction: urn:iso:std:iso:3166#BE "Belgium"
date: 2025-02-17
# The publisher can be a single item or a list, each with a name and
# optional url and/or email. The first publisher's name will be used
# as IG.publisher.  The contact details and/or additional publishers
# will be translated into IG.contact values.
dependencies:
  hl7.fhir.be.core: 2.1.2
  hl7.fhir.be.core-clinical: 1.0.0
  hl7.fhir.be.nihdi-terminology: 1.0.0
  

# The pages property corresponds to IG.definition.page. SUSHI can
# auto-generate the page list, but if the author includes pages in
# this file, it is assumed that the author will fully manage the
# pages section and SUSHI will not generate any page entries.
# The page file name is used as the key. If title is not provided,
# then the title will be generated from the file name.  If a
# generation value is not provided, it will be inferred from the
# file name extension.  Any subproperties that are valid filenames
# with supported extensions (e.g., .md/.xml) will be treated as
# sub-pages.
pages:
  index.xml:
    title: Home
  guidance.md:
  changes.xml:
  downloads.xml:
  
# The ImplementationGuide resource defines several other properties
# not represented above. These properties can be used as-is and
# should follow the format defined in ImplementationGuide:
# * meta
# * implicitRules
# * language
# * text
# * contained
# * extension
# * modifierExtension
# * experimental
# * useContext
# * copyright
# * packageId

# The menu property will be used to generate the input/menu.xml file.
# The menu is represented as a simple structure where the YAML key
# is the menu item name and the value is the URL. The IG publisher
# currently only supports one level deep on sub-menus.
# To provide a custom menu.xml file, do not include this property and
# include a `menu.xml` file in input/includes.
menu:
  Home: index.html
  Guidance: guidance.html
  Artifacts:
    Profiles: artifacts.html#2
    Extensions: artifacts.html#3
    Value Sets: artifacts.html#4
  Downloads: downloads.html
  Changes: changes.html
  History: "https://www.ehealth.fgov.be/standards/fhir/mycarenet/history.html"

# The publisher can be a single item or a list, each with a name and
# optional url and/or email. The first publisher's name will be used
# as IG.publisher.  The contact details and/or additional publishers
# will be translated into IG.contact values.
publisher:
  name: eHealth Platform
  url: http://www.ehealth.fgov.be/
  email: support@be-ehealth-standards.atlassian.net

# ContactDetail is required by the template.
contact:
  - name: Message Structure
    telecom:
      - system: email
        value: support@be-ehealth-standards.atlassian.net
        use: work  


parameters:
  shownav: 'true'
  apply-contact: 'true'
  apply-jurisdiction: 'true'
  apply-publisher: 'true'
  apply-version: 'true'
  propagate-status: true
  pin-canonicals: pin-none

extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
    valueCode: trial-use
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg
    valueCode: fhir
  - url:  http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm
    valueInteger: 1


resources:
  Bundle/ex01:
    name: ex01 
    description: FHIR Physiotherapy within Hospital eAgreementAskRequest 
  Bundle/ex02: 
    name: ex02 
    description: FHIR Physiotherapy eAgreementAskRequest with patient identified by mutuality registration number 
  Bundle/ex03: 
    name: ex03 
    description: FHIR Physiotherapy eAgreementAskRequest with patient identified by national registration number 
  Bundle/ex04: 
    name: ex04 
    description: FHIR Physiotherapy eAgreementAskResponse with an agreement response 
  Bundle/ex05: 
    name: ex05 
    description: FHIR Physiotherapy eAgreementAskResponse with an intreatment response 
  Bundle/ex06: 
    name: ex06 
    description: FHIR Physiotherapy eAgreementAskResponse with a refusal response 
  Bundle/ex07: 
    name: ex07 
    description: FHIR Physiotherapy eAgreementRejectResponse 
  Bundle/ex08: 
    name: ex08 
    description: FHIR Physiotherapy eAgreementCancelRequest 
  Bundle/ex09: 
    name: ex09 
    description: FHIR Physiotherapy eAgreementCancelResponse 
  Bundle/ex10: 
    name: ex10 
    description: FHIR Physiotherapy eAgreementExtentRequest 
  Bundle/ex11: 
    name: ex11 
    description: FHIR Physiotherapy eAgreementArgueRequest 
  Bundle/ex12: 
    name: ex12 
    description: FHIR Physiotherapy eAgreementConsultRequest 
  Bundle/ex13: 
    name: ex13 
    description: FHIR Physiotherapy eAgreementConsultResponse 
  Bundle/ex14: 
    name: ex14 
    description: FHIR Physiotherapy eAgreementCompleteRequest 
  Bundle/ex15: 
    name: ex15 
    description: FHIR Physiotherapy eAgreementCompleteResponse 
  Bundle/ex16: 
    name: ex16 
    description: FHIR Speechtherapy eAgreementAskRequest for assessment 
  Bundle/ex17: 
    name: ex17 
    description: FHIR Speechtherapy eAgreementAskRequest for treatment 
  Bundle/ex18: 
    name: ex18 
    description: FHIR Speechtherapy eAgreementAskResponse for assessment with an intreatment response 
  Bundle/ex19: 
    name: ex19 
    description: FHIR Speechtherapy eAgreementAskResponse for treatment with an intreatment response 
  Bundle/ex20: 
    name: ex20 
    description: FHIR Speechtherapy eAgreementAskResponse for treatment with an agreement response 
  Bundle/ex21: 
    name: ex21 
    description: FHIR Speechtherapy eAgreementAskResponse for assessment with a refusal response 
  Bundle/ex22: 
    name: ex22 
    description: FHIR Speechtherapy eAgreementCancelRequest 
  Bundle/ex23: 
    name: ex23 
    description: FHIR Speechtherapy eAgreementCancelResponse 
  Bundle/ex24: 
    name: ex24 
    description: FHIR Speechtherapy eAgreementCompleteRequest 
  Bundle/ex25: 
    name: ex25 
    description: FHIR Speechtherapy eAgreementCompleteResponse 
  Bundle/ex26: 
    name: ex26 
    description: FHIR Speechtherapy eAgreementConsultRequest 
  Bundle/ex27: 
    name: ex27 
    description: FHIR Speechtherapy eAgreementConsultResponse 
  #Bundle/ex28: 
  #  name: ex28 
  #  description: FHIR Speechtherapy eAgreementExtentRequest for assessment 
  Bundle/ex29: 
    name: ex29 
    description: FHIR Speechtherapy eAgreementExtentRequest for treatment 
  Bundle/ex30: 
    name: ex30 
    description: FHIR Speechtherapy eAgreementExtentResponse for treatment with an agreement response 
  Bundle/ex31: 
    name: ex31 
    description: FHIR Speechtherapy eAgreementRejectResponse
  Bundle/ex32:
    name: ex32
    description: FHIR Speechtherapy eAgreementAskResponse for treatment with a partial agreement response
  Bundle/ex33:
    name: ex33
    description: FHIR Light eAgreement Ask Request
  Bundle/ex34:
    name: ex34
    description: FHIR Light eAgreement Reject Response
  